<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/JDownloader/src/org/jdownloader/startup/Main.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.jdownloader.startup.Main"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="JDownloader"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JDownloader"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="--add-exports=java.desktop/sun.swing=ALL-UNNAMED&#10;--add-exports=java.desktop/sun.swing.table=ALL-UNNAMED&#10;--add-exports=java.desktop/sun.swing.plaf.synth=ALL-UNNAMED&#10;--add-opens=java.desktop/javax.swing.plaf.synth=ALL-UNNAMED&#10;--add-opens=java.desktop/javax.swing.plaf.basic=ALL-UNNAMED&#10;--add-opens=java.desktop/javax.swing=ALL-UNNAMED&#10;--add-opens=java.desktop/javax.swing.tree=ALL-UNNAMED&#10;--add-opens=java.desktop/java.awt.event=ALL-UNNAMED&#10;--add-exports=java.desktop/sun.awt.shell=ALL-UNNAMED&#10;--add-exports=java.base/sun.security.action=ALL-UNNAMED&#10;--add-exports=java.desktop/com.sun.awt=ALL-UNNAMED"/>
</launchConfiguration>
