/AbstractAreas.class
/Figure.class
/FirstDerivedClass.class
/MyClass.class
/Rectangle.class
/SecondDerivedClass.class
/Test.class
/Triangle.class
/TypeInference.class
/TypeInferenceAndInheritance.class
